.length-main {
  background-color: inherit;
  margin-top: 130px;
  width: 100%;
  justify-content: center;
}

.length-container {
  margin-bottom: 20px;
}
.length-container h1 {
	margin-top: 5px;
	font-family: 'Goldman', cursive;
	font-size: 30px;
	color: #646464;
	font-weight: bold;
}

.length-container h3 {
	color: #646464;
	font-weight: bold;
	margin-bottom: 30px;
}

#outlined-number1, #outlined-number2	{
	width: 90%;
	color: #646464;
  background-color: #fff;
}

#outlined-number3 {
	width: 90%;
	background-color: #fca652;
}

.field-container p {
	margin: auto;
}
