.navbar {
  position: fixed;
  z-index: 2;
  margin: 0;
  background-color: #646464;
  width: 100%;
  height: 100px;
  overflow: hidden;
}

.nav-brand {
  font-family: 'Goldman', cursive;
  font-size: 2.5rem;
  margin-right: 20px;
  color: #fff8cd;
}

.navlink {
  font-family: 'Goldman', cursive;
  color: #fff8cd;
  text-decoration: none;
  justify-content: space-between;
  margin: auto;
  padding: 14px 16px;
}

.navlink:hover {
  color: #fff8cd;
  text-decoration: underline;
}

#dropdown-item-button {
  width: 80px;
  font-family: 'Goldman', cursive;
  color: #fff8cd;
  text-decoration: none;
  background-color: #646464;
}

@media (max-width: 768px) {
  #dropdown-item-button {
    visibility: visible;
  }
  .nav-link {
    visibility: hidden;
  }
}
@media (min-width: 769px) {
  #dropdown-item-button {
    visibility: hidden;
  }
  .nav-link {
    visibility: visible;
  }
}


.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}
.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child), .dropdown .dropdown-button {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }
}
