.navbar {
  position: fixed;
  z-index: 2;
  margin: 0;
  background-color: #646464;
  width: 100%;
  height: 100px;
  overflow: hidden;
}

.nav-brand {
  font-family: 'Goldman', cursive;
  font-size: 2.5rem;
  padding: 5px;
  margin-left: 20px;
  background-color: #fff8cd;
  border-radius: 5px;
}

.navlinks-container {
  display: inline-flex;
  flex-direction: row;
}

.dropdown-container {
  z-index: 1000;
  display: flex;
  flex-direction: column;
  background-color: #646464;
}

.dropdown-container #dropdown-item {
  color: #646464;
}

#nav-dropdown {
  z-index: 1000;
  font-family: 'Goldman', cursive;
  background-color: #646464;
  color: #fff8cd;
}
.navlink {
  font-family: 'Goldman', cursive;
  color: #fff8cd;
  text-decoration: none;
  justify-content: space-between;
  margin: auto;
  padding: 14px 16px;
}

.navlink:hover {
  color: #fff8cd;
  text-decoration: underline;
}

#dropdown-button-drop {
  z-index: 1000;
  width: auto;
  font-family: 'Goldman', cursive;
  color: #fff8cd;
  text-decoration: none;
  background-color: #646464;
}

@media (max-width: 768px) {
  .nav-link {
    visibility: hidden;
  }
}
@media (min-width: 769px) {
  .nav-link {
    visibility: visible;
  }
}

/* MENU STYLES */
.menu-wrap {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 5;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 22;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 15;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  z-index: 5;
  flex: none;
  width: 100%;
  height: 2px;
  background: rgb(243, 248, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 10;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  z-index: 10;
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  z-index: 10;
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  z-index: 10;
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  z-index: 10;
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  z-index: 10;
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  z-index: 8;
  opacity: 1;
  transition:  opacity 0.4s ease-in-out 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  z-index: 5;
  background: rgba(7, 93, 133, 0.9);
  opacity: 0.9;
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all  0.6s ease-in-out;
}

.menu-wrap .menu > div > div {
  padding-top: 100px;
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 1;
  transition: opacity 0.6s ease-in-out;
}

.menu-wrap .menu > div > div > ul > li {
  z-index: 10;
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  z-index: 10;
  color: inherit;
  text-decoration: none;
  transition: color 0.6s ease-in-out;
}

.menu-navlink:hover {
  color: rgb(60, 143, 182);
  cursor: pointer;
  text-decoration: none;
  transform: scale(1.1);
}
