.social {
  position: absolute;
  background-color:  rgba(7, 93, 133, 1);
  margin-top: 10px;
  bottom: 10px;
}

.social a {
  justify-content: space-around;
  font-size: 20px;
  bottom: 10px;
  color: white;
}

.social a:hover {
  color: #53a7eb;
}

@media all and (min-width: 200px) {
  .social {
    position: fixed;
    left:0;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    bottom: 0;
  }

  .social a {
    justify-content: space-around;
    padding-right: 10px;
    bottom: 10px;
  }
}
