.social {
  position: absolute;
  background-color:  inherit;
  margin-top: 10px;
  bottom: 10px;
}

.social a {
  justify-content: space-around;
  font-size: 20px;
  bottom: 10px;
  color: white;
}

.social a:hover {
  color: #dc75b1
}

@media all and (min-width: 200px) {
  .social {
    left:0;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    bottom: 5px;
  }

  .social a {
    justify-content: space-around;
    padding-right: 10px;
    margin-bottom: 10px;
  }
}
