.App {
  margin: auto;
  width: 100%;
  height: 100%;
  font-family: 'Goldman', cursive;
  text-align: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  background-image: radial-gradient(circle, #dcb958, #e1c462, #e6d06d, #ebdb78, #f0e784, #f1e982, #f1eb81, #f2ed7f, #f0e66f, #eee05e, #ecd94d, #ebd23a);
}

.container {
  padding-bottom: 20px;
}
